@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

body .done {
  text-decoration: line-through;
}

.bx-check {
  color: green;
  cursor: pointer;
}

.bx-trash {
  color: red;
  cursor: pointer;
}

form,
li {
  display: flex;
  column-gap: 0.5em;
}

ul {
  list-style: none;
  padding-left: 0;
}
